<p class="text-center text-3xl mb-7 text-pink-500">Projects</p>
<div class="flex flex-wrap gap-4">
    <app-product *ngFor="let p of products" [product]="p" (purchase)="addToBasket($event)"></app-product>
</div>

